@font-face {
  font-family: "George";
  src: url(fonts/Louis-George-Cafe.ttf);
}
@font-face {
  font-family: "George-Bold";
  src: url(fonts/Louis-George-Cafe-Bold.ttf);
}
@font-face {
  font-family: "George-Italic";
  src: url(fonts/Louis-George-Cafe-Italic.ttf);
}

:root {
  --background-color: #f3f3f3;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
