<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="GruzAuth securly authenticate all of your websites.">
    <meta name="theme-color" content="#f3f3f3">
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="gruzauth.css">
    <link rel="shortcut icon" href="https://media.istockphoto.com/vectors/security-symbol-lock-icon-app-security-symbol-for-your-web-site-vector-id1139901980?k=20&amp;m=1139901980&amp;s=170667a&amp;w=0&amp;h=7L7RrA9cerBjX9S7chF_07RqMBQphJ2bIXkEfMFKtd4=" type="image/x-icon">
    <script src="script.js" defer></script>
    <title>GruzAuth | Gruzservices</title>
</head>
<body>
    <button id="sauth-login" onclick="loginIt()">Login with Gruzservices <span><img src="/icons/lock.svg" alt="Lock"></span></button><br><br>
    <a id="sauth-signup" href="/signup">Signup to Gruzservices</a>
</body>
</html>