@font-face {
  font-family: "George-Italic";
  src: url(fonts/Louis-George-Cafe-Italic.ttf);
}

:root {
  --background-color: #f3f3f3;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#sauth-signup {
  width: 220px;
  font-family: "George-Italic", sans-serif;
  border-radius: 100vw;
  font-size: 1em;
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 15px;
  border: none;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: box-shadow 0.25s linear;
}

#sauth-signup:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 8px 8px;
}
